extends ../layout

block content
	.container
		.row
			form.form-horizontal(method="post",action="/admin/movies")
				input(type="hidden",name="movies[_id]",value="#{movies._id}")
				.form-group
					label.col-sm-2.control-label(for="inputTitle") 电影名字
					.col-sm-10
						input#inputTitle.form-contol(type="text",name="movies[title]" value="#{movies.title}")
				.form-group
					label.col-sm-2.control-label(for="inputDoctor") 电影导演
					.col-sm-10
						input#inputDoctor.form-contol(type="text",name="movies[doctor]" value="#{movies.doctor}")
				.form-group
					label.col-sm-2.control-label(for="inputCountry")  国家
					.col-sm-10
						input#inputCountry.form-contol(type="text",name="movies[country]" value="#{movies.country}")
				.form-group
					label.col-sm-2.control-label(for="inputLanguage") 语种
					.col-sm-10
						input#inputLanguage.form-contol(type="text",name="movies[language]" value="#{movies.language}			")
				.form-group
					label.col-sm-2.control-label(for="inputPoster") 海报地址
					.col-sm-10
						input#inputPoster.form-contol(type="text",name="movies[poster]" value="#{movies.poster}")
				.form-group
					label.col-sm-2.control-label(for="inputFlash") 片源地址
					.col-sm-10
						input#inputFlash.form-contol(type="text",name="movies[flash]" value="#{movies.flash}")  
				.form-group
					label.col-sm-2.control-label(for="inputYear") 上映年代
					.col-sm-10
						input#inputYear.form-contol(type="text",name="movies[year]" value="#{movies.year}")
				.form-group
					label.col-sm-2.control-label(for="inputSummary") 电影简介
					.col-sm-10
						textarea#inputSummary.form-contol(type="text",name="movies[summary]" value="#{movies.summary}			")
				.form-group
					label.col-sm-2
					.col-sm-10
						button.btn.btn-defalt(type="submit") 录入            				